* {
    box-sizing: border-box;
}

section {
    height: 25em;
    width: 100%;
    margin: auto;
    /* padding: 1%; */
    /* margin-top: 1%; */

}

article {
    padding: 2%;
    font-size: 1.2em;
    height: 100%;
}

body {
    margin: 0%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 4vw;
    margin: 0%;
}

footer {
    text-align: center;
    padding: 1%;
    clear: both;
    background-image: linear-gradient(to right top, #f4ff00, #ffd135, #ffa772, #ff90a7, #ff8ecd, #ec9de5, #d7acf6, #c1b9ff, #a4c8ff, #87d7ff, #72e3ff, #71edff);
    font-family: 'Consolas', monospace;
}

#sect-1 {
    background-image: linear-gradient(to right top, #f4ff00, #ffd135, #ffa772, #ff90a7, #ff8ecd, #ec9de5, #d7acf6, #c1b9ff, #a4c8ff, #87d7ff, #72e3ff, #71edff);
    background-size: cover;
    border-radius: 0%;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: 0%;
    font-family: 'Ms Madi', cursive;
}

#sect-2 {
    background-color: #72e3ff;
}

#title {
    font-size: 100px;
    margin-top: 0%;
    margin-bottom: 5%;
    padding-top: 8%;
}

#sub-title {
    font-size: 50px;
    padding-bottom: 8%;
    margin-bottom: 0%;
}

#sect-2-title {
    float: left;
    height: 100%;
}

#sect-2-content {
    float: right;
    width: 75%;
}

#sect-2-title-text {
    padding-top: 50%;
    padding-bottom: 50%;
}

#sect-3-left {
    float:left;
    background-color: orangered;/*here.*/
    width: 50%;
    height: 100%;
} 

#sect-3-right {
    float:right;
    background-color: mediumspringgreen;
    width: 50%;
    height: 100%;

}

#sect-4 {
    height: 29em;
}

#sect-4-left {
    float:left;
    width: 75%;
    background-color: #ec9de5;
}

#sect-4-right {
    float:right;
    width: 25%;
    height: 100%;
    background-color: gold;
}

@media screen and (max-width: 1200px) {
     * {
        clear: both !important; 
        float: none !important;
        height: fit-content !important;
        width: 100% !important;
        margin: 0% !important;
        padding: 0% !important;
    }
    article {
        border: black solid 1px;
    }
    body {
        font-size: 15px;
    }
    h3 {
        font-size: 30px;
    }
}
